body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}


form {
    display: block;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h4 {
    text-align: justify;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 10px); 
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #ff69b4;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    
}

.buttonAlign {
text-align: center;
width: 500px;
}

button:hover {
    background-color: #ff1493;
}

.Fibonacci,
.string {
    color: #ff69b4;
    margin-top: 40px;
    text-align: center;
}
